@media (max-width: 600px) {
}

h1 {
  font-size: 2rem;
  margin: 0;
}

.find-good-class-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 1rem;

  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to bottom right, #4158d0, #c850c0) fixed;
}

.find-good-class-name svg {
  width: 3rem;
  height: 4rem;
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 1rem;
}

.header-container h1 {
  font-size: 1.5rem;
}

.header-container svg {
  width: 2rem;
  height: 1.7rem;
}

.add-button {
  padding: 0.75rem 1.5rem;
  border-radius: 8px;

  font-size: 1.2rem;
  font-weight: 500;

  background-color: #4158d0;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submit-button:hover {
  background-color: #5a75e8;
}
