.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  gap: 5rem;

  font-size: 0.9rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: white;
}

.footer-element:hover {
  cursor: pointer;
  font-weight: 600;
  text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
  .footer {
    justify-content: space-between;

    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
